## DESCRIPTION has to be adopted to something like
## ##Depends: ncdf, fields, abind, corpcor, MASS, coda, mixstock, RColorBrewer

## export functions to be visible for the user
export("models2wux"## , "summaryWux"
       , "read.wux.table", "AverageWuxDataFrame",
       "CMIP5fromESGF", "CMIP5toModelinput")
## also export functions of corresponding S3 methods...
export("summary.wux.df", "plot.wux.df", "hist.wux.df")
## export descriptive plots
export("plotAnnualCycle"## , "ScatterplotWux"
       ## , "HistplotWux"
       )
## export reconstruct tools
export("reconstruct")
export("aovWux")
export("plot.wux.aov")
## export(## "AnovaBarplotWux",
##        "AnovaReconstructIterativeCC",
##        "AnovaReconstructIterative",  "AnovaReconstructLES"## , "WuxAnova"
##        )

## register S3 methods
#S3method("summary", "wux") ## until now just a function
S3method("summary", wux.df)
S3method("plot", wux.df)
S3method("plot", wux.aov)
S3method("hist", wux.df)
S3method("print", summaryWuxdf)


## still missing:
## corpcor, MASS, coda, mixstock, RColorBrewer

## import all variables from following packages:
#import(ncdf)

## importFrom("sp", Polygons, Polygon, SpatialPolygons, over, SpatialPoints)
## maybe import more subtle...
## import("sp")

## import only selected variables from packages (important to avoid conflicts)
importFrom("rgeos", gArea, gIntersection) #intersecting spatial polygons and getting theri area
importFrom("reshape", melt)
importFrom("class", knn1)                 #nearest neighbor
importFrom("stringr", str_trim)           #string trim
importFrom("rgdal", readOGR)              #read shapefiles
importFrom("Hmisc", minor.tick)
importFrom("gdata", drop.levels, reorder.factor)
importFrom("corpcor", pseudoinverse)
importFrom("rworldmap", getMap)

## having no namspace...
#import(ncdf)
#importFrom(abind, abind)                #array bind
import(ncdf4)
import(abind)
import(fields)
import(sp)

## ??, rgdal, abind, corpcor, stringr, class, gdata, Hmisc, fields, rgeos, gdata, corpcor, MASS, coda, mixstock, RColorBrewer

## some packages not necessary anymore in depends?:
## corpcor, coda, mixstock
## some packages not necessary anymore in imports?:
## MASS, coda, mixstock

## import trivial functions since 2.1-1
importFrom("grDevices", "dev.new", "dev.off", "png", "postscript",
           "rainbow")
importFrom("graphics", "abline", "axis", "box", "boxplot", "bxp",
           "grconvertX", "grconvertY", "grid", "hist", "layout",
           "legend", "lines", "mtext", "par", "plot.new", "points",
           "text", "title")
importFrom("methods", "slot")
importFrom("stats", "aov", "density", "formula", "median",
           "model.matrix", "quantile", "sd")
importFrom("utils", "object.size", "read.table", "tail", "write.table")
